.chatbot {
  box-shadow: 0 0 5px 3px #fff, 0 0 3px 5px rgba(0, 161, 156, 1);
}

.chatbot:before,
.chatbot:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.chatbot:before {
  animation: topBubbles ease-in-out 2s infinite;
  top: -50%;
  background-image: radial-gradient(circle, #fe3aa9 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #10eebf 20%, transparent 30%),
    radial-gradient(circle, #0d2d40 20%, transparent 20%),
    radial-gradient(circle, #fe3aa9 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #10eebf 15%, transparent 20%),
    radial-gradient(circle, #0d2d40 20%, transparent 20%),
    radial-gradient(circle, #fe3aa9 20%, transparent 20%),
    radial-gradient(circle, #10eebf 20%, transparent 20%),
    radial-gradient(circle, #0d2d40 20%, transparent 20%);
  background-size: 20% 20%, 30% 30%, 25% 25%, 30% 30%, 28% 28%, 20% 20%, 25% 25%,
    20% 20%, 28% 28%;
}
.chatbot:after {
  animation: bottomBubbles ease-in-out 2s infinite;
  bottom: -50%;
  background-image: radial-gradient(circle, #fe3aa9 20%, transparent 20%),
    radial-gradient(circle, #10eebf 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #0d2d40 15%, transparent 20%),
    radial-gradient(circle, #fe3aa9 20%, transparent 20%),
    radial-gradient(circle, #10eebf 20%, transparent 20%),
    radial-gradient(circle, #0d2d40 20%, transparent 20%),
    radial-gradient(circle, #fe3aa9 20%, transparent 20%);
  background-size: 25% 25%, 30% 30%, 28% 28%, 30% 30%, 25% 25%, 20% 20%, 30% 30%;
}
@keyframes topBubbles {
  0% {
    background-position: 55% 90%, 55% 90%, 55% 90%, 55% 90%, 55% 90%, 55% 90%,
      55% 90%, 55% 90%, 70% 90%;
  }
  60% {
    background-position: 55% 90%, 55% 90%, 55% 90%, 55% 90%, 55% 90%, 55% 90%,
      55% 90%, 55% 90%, 70% 90%;
    background-size: 20% 20%, 30% 30%, 25% 25%, 30% 30%, 28% 28%, 20% 20%,
      25% 25%, 20% 20%, 28% 28%;
  }
  80% {
    background-position: 0 80%, 0% 20%, 10% 40%, 20% 0, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0 0, 0% 0, 0% 0, 0% 0, 0% 0, 0% 0;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0;
  }
  60% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0;
    background-size: 25% 25%, 30% 30%, 28% 28%, 30% 30%, 25% 25%, 20% 20%,
      30% 30%;
  }
  80% {
    background-position: 0 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0;
  }
  100% {
    background-position: 0 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0 0, 0% 0, 0% 0, 0% 0, 0% 0, 0% 0;
  }
}
